{# le programme incluant a défini les paramètres page, nbPages, pathlist #} 
<ul>
   {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
        <li class="pgn" >
        {% if p == page %} 
            <a class="apgn" href="{{ path(pl, {'page': p}) }}">{{ p }}</a>
        {% else %} 
            <a  href="{{ path(pl , {'page': p}) }}">{{ p }}</a>
        {% endif %} 
        </li>
    {% endfor %}
</ul>


