<div>
   {% for line in mots|split(',') %}
       <div>
       {% for couple in line|split('_') %}
            {% if couple|first == couple|last %}  
                {% if couple|first == '<' %}  
                    <button class="exd_eff">Eff</button>  
                {% elseif couple|first == '>' %}
                    <button class="exd_toggle">extrait</button> 
                {% elseif couple|first == '=' %}               
                    <button class="exd_toggle">anagrammes</button> 
                {% else %}           
                    <button class="exd_btn2">{{ couple|first }}</button>
                {% endif %} 
            {% else %}
                {% if couple|first == '<' %}  
                    <button class="exd_btn2">&nbsp;<sub>&nbsp;</sub></button>  
                {% else %} 
                    <button class="exd_btn2">{{ couple|first }}<sub>{{ couple|last }}</sub></button>
                {% endif %} 
            {% endif %} 
       {% endfor %}        
       </div>
   {% endfor %}     
</div>


